.contenedorTitulo{
    width: 1378px;
    height: 42px;
    float: right;
    margin-top: -723px;
    background: #ffffff;
}

#filtros{
    display:none;
    margin-top: -35px;
    margin-left: 266px;
    padding: 8px;
}

#filtros-ver{
    font-size: 18px;
    color: #B8711B !important;
    margin-top: -4px;
}

#filtros-ocultar{
    font-size: 18px;
    color: #B8711B !important;
    margin-top: -4px;
}

#filtros_nombres:focus,
#filtros_apellidos:focus{ 
    background: #ffeaa7;
    outline: none;
}

#filtros_buscar{
    background-color: #B8711B !important;
}

#filtros_limpiar{
    background-color: #B8711B !important;
}

#filtros_buscar:hover{
    background-color: #ecf0f1 !important;
    color: #B8711B !important;
}

#filtros_limpiar:hover{
    background-color: #ecf0f1 !important;
    color: #B8711B !important;
}

.contenedorTitulo h6{
    font-size: 26px;
    color: #B8711B;
    margin-top: 6px;
    margin-left: 25px;
}

.contenedorTitulo .dropdown{
    float: right;
    margin-top: -39px;
    margin-right: 26px;
}

.contenedorTitulo .dropdown li{
    display: inline-block;
    list-style: none;
    margin-right: 80px;
}

.contenedorTitulo a{
    color: black;
}

.contenedorTitulo a:hover{
    color: #B8711B;
}

.contenedorTitulo .btn-secondary{
    background: none !important;
    margin-top: -4px;
}

.contenedorTitulo .dropdown-item:hover{
    text-decoration: underline !important;
}

.abm{
    width: 1378px;
    height: 26px;
    float: right;
    margin-top: -679px;
    background: #ecf0f1;
}

.abm a{
    margin: auto;
    margin-left: 15px;
}

.abm .alta,
.abm .eliminar{
    font-size: 18px;
    color: #B8711B;
}

.abm .alta:hover,
.abm .eliminar:hover{
    text-decoration: underline;
}

.table{
    width: 89% !important;
    margin-top: -650px;
    margin-left: 154px;
}

.table tbody tr{
    background-color: #ffffff !important;
}

.table tbody tr:hover{
    background-color: #fafbfc !important;
    color: #B8711B !important;
}

.table i{
    color: #B8711B;
}

.btn-dark{
    background: #ecf0f1 !important;
    border-color: #ecf0f1 !important;
}

.modal-title{
    color: #B8711B;
}

.modal-header .fa-times-circle{
    cursor: pointer;
    margin-top: 4px;
    font-size: 18px;
}

.modal-header .fa-times-circle:hover{
    color: #d63031;
}

.modal-body{
    background: #ecf0f1;
}

.input-group{
    padding: 15px;
}

.input-group-prepend i{
    color: #B8711B;
}

.textos{
    width: 90%;
}

.textos:focus{
    background: #ffeaa7;
    outline: none;
}

.modal-footer .guardar{
    color: #B8711B;
}

.modal-footer .guardar:hover{
    text-decoration: underline;
}










