*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #ecf0f1;
}

.contenedorMenu{
    width: 140px;
    height: 100%;
    margin-top: -37px;
    font-size: 16px;
    background-color: white;
}

.contenedorMenu a {
    color: #353b48;
    text-decoration: none;
}

.contenedorMenu i{
    color: #353b48;
    margin-top: 20px;
}

.contenedorMenu ul {
    list-style: none;
    text-align: center;
} 

.contenedorMenu ul li{
    padding: 16px;
    border-bottom: 1px solid rgba(100,100,100,.3);
} 

.contenedorMenu ul li:hover {
    background: #ffaf40;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #353b48 !important;
    background-color: #ffaf40 !important;
}





