*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background: #1B1D35;
	color: #fff;
}

a{
	text-decoration: none;
	color: #B8711B;
}

a:hover{
	text-decoration: underline;
}

.contenedor{
	max-width: 500px;
	width: 90%;
	margin: auto;
}

.titulo{
	font-weight: 300;
	color: #B8711B;
	text-align: center;
	margin: 60px 0 30px 0;
}

.border{
	border: none;
	margin-bottom: 5px;
	border-top: 10px solid #B8711B;
	background: none;
	color: none;
}

.contenido article{
	padding: 30px;
	background: #fff;
}

.contenido article p{
	margin-bottom: 10px;
	color: #000;
}
